{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>ℹ️ Σχετικά</h3>
        </div>
        <div class="card-body">
            <h4>🩺 WellnessAI </h4>
            <p>Αυτή είναι μια εφαρμογή Flask για εξατομίκευμένες προτάσεις δραστηριοτήτων.</p>
            
            <h5>Developers:</h5>
            <ul>
                <li>Arsenis Chrysikopoulos</li>
                <li>Miltos Mourtias</li>
                <li>Manolis Papakyriakou</li>
                <li>Nikos Kafadaris</li>
                <li>Leftheris Tsimplekas</li>
            </ul>
        </div>
        <div class="card-footer text-muted">
            Made with ❤️ for the PwC Hackathon 2025
        </div>
    </div>
</div>
{% endblock %}

